:root {
    --bg: #111216;
    --footer: #0d0e11;
    --blue: #d92d2d;
    --white: #f0f0f0;
    --dark: #1a1b21;
    --grey: #32343e;
    --text: #838383;
    --green: #57a959;
    --purple: #5151ba;
}


@font-face {
    font-family: ExtraBold;
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../fonts/Inter-Bold.ttf);
}

 @font-face {
    font-family: Medium;
    src: url(../fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: Light;
    src: url(../fonts/Inter-Medium.ttf);
}


body,
html {
  background-color: var(--bg);
  background-image: url(/images/backround.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
  margin: 0;
  overflow-x: hidden;
}


html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a, ul, li, h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NAVBAR START*/

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: calc(100%);
  padding: 0;
  z-index: 99;
  height: 3.5rem;
  background-color: rgba(13, 14, 17, 0.9);
}

.nav path {
  fill: var(--white);
}

.nav g {
  stroke: var(--white);
}

.selected path {
  fill: var(--blue)
}

.selected g {
  stroke: var(--blue)
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  width: 33%;
}

.logo:hover {
  transform: scale(1.25); /* Enlarge image by 1.5 times */
}

.logo img   {
  height: 2.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 33%;
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover {
  box-shadow: none; /* Remove shadow on click */
  transform: translateY(4px); /* Move button down to simulate press */
}

.nav-link h1 {
  color: var(--white);
  font-family: Bold;
  font-size: 1rem;
}

.selected h1 {
  color: var(--blue)
}


.nav-link svg{
  margin-right: .5rem;
}

.contact {
  transition: transform 0.3s ease; /* Smooth transformation effect */
  transform: scale(1.5)
}

.contact:hover {
  transform: scale(1.75); /* Enlarge image by 1.5 times */
}

.contacts {
  display: flex;
  justify-content: center;
  width: 33%;
  display: flex; /* This spell turns the main div into a Flex container */
  flex-direction: row; /* Directs the child divs to line up in a row */
  gap: 2rem;
}

.main-image-logo-container {
  position: relative;
}

.main-image-logo {
  animation: descend 1.5s ease-out forwards; /* Apply the animation to your logo */
  z-index: -1; /* Places the image behind the text */
}

@keyframes descend {
  from {
    transform: translateY(-100%); /* Start from above the viewport */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* End at the logo's natural position */
    opacity: 1; /* Fully visible */
  }
}


.contacts a:not(:first-child) {
  margin-left: 1rem;
}

.contact path{
  fill: var(--white);
}
.contact g {
  stroke: var(--white);
}


.nav-links-mobile {
  display: none;
}

.mobile-btn {
  display: none;
  padding: 0 2rem;
  z-index: 99;
}

.mobile-active .bar:nth-child(1){
  transform: rotate(-45deg) translate(-3px, 4px);

}

.mobile-active .bar:nth-child(2){
  display: none;
}
.mobile-active .bar:nth-child(3){
  transform: rotate(45deg) translate(-3px, -4px);
}

.nav-links-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 3.5rem;
  left: 0;
  background-color: rgba(13, 14, 17, 1);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height ease-in-out 150ms;
}

.nav-link-mobile {
  font-family: Bold;
  color: var(--white);
  cursor: pointer;
  width: 100%;
  display: flex;
  padding: 1rem 0;
  flex-direction: row;
  justify-content: center;
  border-top: var(--dark) thin solid;
  align-items: center;
}

.nav-link-mobile svg{
  margin-right: .5rem;
}

.mobile-active + .nav-links-mobile {
  height: 20rem;
}

.bar {
  width: 2rem;
  margin: 8px 0;
  height: 2px;
  background-color: var(--white);
}


@media screen and (max-width: 1000px ){

  .nav-links {
      display: none;
  }
  .mobile-btn {
      display: block;
  }
}

nav i {
  color: white;
  margin-right: 5px;
}

nav .selected i {
  color: var(--blue)
}

/* NAVBAR END*/

/* MINI NAV START */
.mini-nav {
  position: absolute;
  top: 5rem;
  left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Bold;
  z-index: 50;
}

.mini-nav a {
  color: var(--white);
}

.mini-nav a:hover {
  text-decoration: underline;
}

.mini-nav span {
  color: var(--blue);
}

.mini-nav i {
  margin: 0 5px;
  color: white;
}



/* MINI NAV END*/

  /* PRODUCT START*/


  .product-header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 3rem;
    font-family: Bold;
    top: 0;
    width: 100%;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  .product-header img {
    height: 4rem;
    margin-right: 1rem;
  }

  @media screen and (min-width: 3000px){
    .product-header {
    background-image: none;
    }
  }



  .cheat {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20rem auto 10rem auto;
  }

  .cheat-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: 2rem 0;
  }

  
  .cheat-media-slider {
    display: flex;
    flex-direction: row;
    width: 26rem;
    border-radius: 1rem;
    aspect-ratio: 16/9;
    height: 14.625rem;
    overflow: hidden;
    
    background-color: var(--dark);
  }

  .media {
    width: 100%;

    height: 100%;
    border-radius: 1rem;
    color: var(--white);
  }


  .media img {
    width: 100%;
    object-fit: cover;
  }

  .media iframe {
    width: 100%;
    height: 100%;
  }



  .cheat-nav {
    display: flex;
    width: 85%;
    flex-direction: row;
    margin-top: 1rem;
  }

  .nav-btn {
    margin: 0 1rem;
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--dark);
    border: 0;
  }

  .nav-btn-selected {
    background-color: var(--white);
  }

  .prices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin-top: 4rem;
    height: 3.5rem;
    border: thin solid var(--grey);
    border-radius: .5rem;
    background-color: var(--dark);
    color: var(--white);
    font-family: Medium;
  }

  
  .price-border {
    height: 40px;
    width: 1px;
    background-color: var(--grey);
  }

  .purchase-tip {
    margin: 0;
    margin-top: 1rem;
    width: 26rem;
    font-size: 14px;
    text-align: left;
    font-family: light;
    color: var(--white);
  }

  .purchase-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 26rem;
    margin-top: 5px;
    padding: 1rem 0;
    background-color: var(--blue);
    font-family: Bold;
    border: 0;
    border-radius: .5rem;
    color: var(--white);
    font-size: 1rem;
    transition: all 300ms ease;
  }

  .purchase-btn:hover {
    box-shadow: 0 0 10px rgba(217, 45, 45, 0.6);
  }

  .purchase-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 26rem;
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: var(--blue);
    font-family: Bold;
    border: 0;
    border-radius: .5rem;
    color: var(--white);
    font-size: 1rem;
    transition: all 300ms ease;
  }

  .purchase-card-btn:hover {
    box-shadow: 0 0 10px rgba(217, 45, 45, 0.6);
  }
  .cheat-tags {
    display: flex;

    width: 85%;
    justify-content: left;
  }

  .cheat-tag {
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    color: var(--white);
    font-family: Light;
    margin-right: 1.5rem;
  }

  .cheat-tag:nth-child(1):nth-child(1) {
    background-color: var(--green);
  }

  .cheat-tag:nth-child(2) {
    background-color: var(--blue);
  }

  .cheat-tag:nth-child(3) {
    background-color: var(--purple);
  }


  .cheats-description {
    width: 85%;
    font-family: Light;
    color: var(--text);
    margin-top: 1.5rem;
  }

  
  .product i {
    margin: 10px;
  }

  @media screen and (max-width: 400px){

    .prices {
      font-size: 12px;
    }

    .product-header img {
      height: 3rem;
      margin-right: .5rem;
    }
    .product-header header{
      font-size: 2.2rem;
    }

    .cheat-tag {

      margin-right: .7rem;
    }
  

  }

  .features {
    width: 85%;
    margin-top: 2rem;
  }

  .feature-dropdown {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    height: 3rem;
    border-bottom: var(--blue) thin solid;
    transition: height ease-in-out 200ms;
  }

  .feature-dropdown:not(:first-child) {
    margin: 2rem 0;
  }

  .feature-dropdown .arrow{
    rotate: 0deg;
    transition: rotate ease-in-out 200ms;
  }

  .feature-dropdown-active .arrow{
    transition: rotate ease-in-out 200ms;
    rotate: 180deg;
  }
  

  .feature-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-text {
    display: flex;
    align-items: center;
  }

  .header-text svg{
    margin-right: .5rem;
  }

  .header-text svg path {
    fill: var(--white);
  }

  .feature-header p{
    font-family: Bold;
    color: var(--white);
    width: 100%;
    margin: 0;
  }

  .feature-info {
    width: 100%;
  }

  .feature-info h1{
    font-family: Bold;
    margin: 1rem 0;
    color: var(--white);
    font-size: 15px;
  }

  .feature-info h1 a{
    color: var(--blue);
  }

  .feature-info p {
    color: var(--text);
    font-family: Light;
  }

  .feature-info ul {
    padding: 0;
    margin: 1rem 0;
    list-style-type: none;
  }


  .feature-info ul li:not(.feature-list-title) {
    font-family: Medium;
    color: var(--text);
  }

  .feature-list-title {
    font-family: Bold;
    color: var(--white);
    margin: 1rem 0 .5rem 0;
  }

  @media screen and (max-width: 400px ){
    .cheat-media-slider {
      width: 21rem;
      height: 11.8125rem;

    }

    .purchase-btn {
      width: 21rem;
    }

    .purchase-tip{
      width: 21rem;
    }

    .purchase-card-btn {
      width: 21rem;
    }
    .cheat-tag {
      padding: .5rem 1rem;
    }
  
  } 

  /* PRODUCT END*/


  /* FOOTER START*/

  footer {
    position: relative;
    background-color: var(--footer);
    bottom: 0;
    margin-top: auto;
    width: calc(100% - 20rem);
    padding: 2rem 10rem 0rem 10rem;
}


.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    max-width: 150rem;
}

.footer-info {
    width: 25rem;
    margin-right: 3rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-logo img {
    height: 35px;
}

.footer-logo h1 {
    color: var(--white);
    font-size: 18px;
    margin: 0 0 0 15px;
    font-family: ExtraBold;
}

.footer-info p{
    color: var(--text);
    font-family: Medium;
}

.footer-navigation {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    width: 40rem;
}

.footer-navigation ul {
    margin: 6px 1rem 0 1rem;
    list-style-type: none;
}


.list-title {
    margin-bottom: 15px;
    font-family: ExtraBold;
    color: var(--white);
}

.footer-navigation ul li a {
    color: var(--text);
}

.footer-navigation ul li:not(.list-title) {
    color: var(--text);
    margin: 7px 0;
    font-family: Medium;
}

.footer-bottom {
  font-family: Light;
  color: var(--text);
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  border-top: thin solid var(--grey);
  align-items: center;
  display: flex;
}

.footer-bottom a {
  color: var(--white);
}

@media only screen and (max-width: 1000px) {
  footer {
    width: calc(100% - 20rem);
    padding: 4rem 10rem;
  }

    .footer-info {
        margin: auto;
        margin-bottom: 2rem;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

    }
    .footer-navigation {
        margin: 0;
        width: 100%;
    }
  }

  
@media only screen and (max-width: 700px) {
  footer {
    width: calc(100% - 10rem);
    padding: 4rem 5rem;
  }

  .footer-container {
    width: 100%;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }

    .footer-navigation {
        align-items: center;
        flex-direction: column;
    }
    .footer-navigation ul {
      margin: 1rem 0;
      text-align: center;
      padding: 0;

      list-style-type: none;
  }

  .footer-bottom {
    text-align: center;
  }

  }



  /* FOOTER END*/